.theme-dark {
    --background-primary: #1a1b26;
    --background-secondary: #1a1b26;
    --background-tertiary: #1a1b26;
    --background-accent: #242730;
    --channeltextarea-background: #24283b;
    --text-normal: #c0caf5;
    --background-floating: #242730;
    --header-primary: #c0caf5;
    --interactive-normal: #c0caf5;
    --interactive-active: #bb9af7;
    --interactive-muted: #7aa2f7;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width:5px !important;
}
::-webkit-scrollbar-thumb {
    background: var(--background-accent) !important;
    width:5px !important;
    border:none !important;
    border-radius: 0px !important;
}

/* Force color */
.theme-dark .container-1D34oG {
    background-color: #1a1b26;
}

.categoryHeader-O1zU94, .theme-dark .autocomplete-1vrmpx {
    background-color: #1a1b26;
}

.theme-dark .selected-1Tbx07 {
    background-color: #3b4252;
}

/* Guild menu (discord forces light theme) */
div[class*="wrapper"][class*="fixClipping"]{
    background-color: var(--background-accent);
}

/* New Messages Bar */
div[class*="newMessagesBar"] {
    background-color: var(--background-accent);
}

/* Hide the action bar nametag and status */
section > div[class*="container"] > [class*='nameTag-'] {
    display:none;
}

/* Center buttons in the panels container */
div[class*="sidebar"] > [class*='panels-'] [class*='container-']{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    background-color: var(--background-secondary);
}

/* Hide Support Button */
a[href="https://support.discord.com"] {
    display: none
}

/* Round Searchbar */
div[aria-label="Search"] {
    border-radius: 8px
}

/* Change Color Of Placeholder On Input Bar */
.placeholder-37qJjk.fontSize16Padding-3Wk7zP {
    color: transparent
}

/* remove the annoying warning */
.channelNotice-1-XFjC.guildMFAWarning-3GEzs8 {
    display: none;
}

/* Mentions (role) */
span[class*="mention"] {
    color: var(--text-link);
}

div[class^="scrollableContainer"] {
    background-color: var(--background-secondary);
}
